@import '../../index';

.header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  
  ul {
    display: none;
    flex-direction: row;

    @media (max-width: 768px) { 
      display: flex;
      gap: 0 10px;
  }
  
    @media (max-width: 440px) { 
      order: 1;
  }
  }
}

.btn__wrap {
  display: flex;
  gap: 0 10px;
}
