.App {
  color: var(--color-text);
  background: var(--background-color);
  transition: background-color .2s linear;
}

.btn {
  padding: 2px 15px;
  color: var(--button-text-color);
  background: var(--button-background-color);
  border-color: var(--button-border-color);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 1px 1px 10px yellow;
}

.sidebar,
.footer,
.header,
.profile {
  padding: 15px;
  background-color: var(--section-background-color);
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-rows: 90px 1fr 120px;
  grid-template-columns: 3fr 9fr;
}
