body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  color: var(--color-light);
  background: var(--color-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-light);
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-rows: 90px 1fr 90px;
  grid-template-columns: 3fr 9fr;
}