.App {
  color: var(--color-text);
  background: var(--background-color);
  transition: background-color .2s linear;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-rows: 90px 1fr 120px;
  grid-template-columns: 3fr 9fr;

  @media (max-width: 768px) { 
    grid-template-areas:
    "header"
    "content"
    "footer";
    grid-template-columns: 12fr;
  }
}
